<footer class="footer-wrapper">
  <div class="content-container">
    <div class="left-side">
      <div class="left-side-list">
        <a>{{"career" | translate}}</a>
        <a>{{"contacts" | translate}}</a>
        <a>{{"branches" | translate}}</a>
        <a>Правила безопасности</a>
        <a>Акции</a>
        <a>Архив</a>
        <a>Условия и правила</a>
        <a>Новости</a>
        <a>Потребителям</a>
        <a>Фонд гарантирования вкладов</a>
        <a>Ваша карта - тайна</a>
        <select>
          <option value="u">Українська</option>
          <option value="r" selected>Русский</option>
        </select>
      </div>

      <div class="app-download-wrapper">
        <div class="actual-version">
          <a class="app-download"><div class="apple">App Store</div></a>
          <a class="app-download"><div>Google Play</div></a>
          <a class="app-download"><div>AppGallery</div></a>
        </div>

        <div class="old-version">
          <a class="app-download-old-version">Скачать старую версию приложения</a>
        </div>
      </div>

      <div class="license">2022 © АО «А-БАНК». Простые кредиты и выгодные депозиты. Лицензия НБУ № 16 от 26.10.2011 г.</div>
    </div>

    <div class="right-side">
      <div class="phone-short">
        <a>7776</a>
        <p>Телефон службы поддержки</p>
      </div>

      <div class="phone-long">
        <a>+38 056 722 0 555</a>
        <p>Для звонков из-за границы</p>
      </div>
      <div class="social">

      </div>
    </div>
  </div>
</footer>
