<footer class="footer-wrapper">
  <div class="content-container">
    <div class="left-side">
      <div class="left-side-list">
        <a>{{"career" | translate}}</a>
        <a>{{"contacts" | translate}}</a>
        <a>{{"branches" | translate}}</a>
        <a>{{"safety regulations" | translate}}</a>
        <a>{{"stock" | translate}}</a>
        <a>{{"archive" | translate}}</a>
        <a>{{"terms and conditions" | translate}}</a>
        <a>{{"news" | translate}}</a>
        <a>{{"consumers" | translate}}</a>
        <a>{{"deposit guarantee fund" | translate}}</a>
        <a>{{"your card is a secret" | translate}}</a>
        <select>
          <option value="ua">Українська</option>
          <option value="ru" selected>Русский</option>
        </select>
      </div>

      <div class="app-download-wrapper">
        <div class="actual-version">
          <a class="app-download"><div class="apple">App Store</div></a>
          <a class="app-download"><div>Google Play</div></a>
          <a class="app-download"><div>AppGallery</div></a>
        </div>

        <div class="old-version">
          <a class="app-download-old-version">{{"old version" | translate}}</a>
        </div>
      </div>

      <div class="license">{{"license" | translate}}</div>
    </div>

    <div class="right-side">
      <div class="phone-short">
        <a>7776</a>
        <p>{{"short phone" | translate}}</p>
      </div>

      <div class="phone-long">
        <a>+38 056 722 0 555</a>
        <p>{{"long phone" | translate}}</p>
      </div>
      <div class="social">

      </div>
    </div>
  </div>
</footer>
