<header>
  <div class="header-wrapper">
    <div class="navigation">
      <div class="logo-wrapper">
        <a class="logoUrl" [routerLink]="['']">
          <img class="logo" src="favicon.ico" />
        </a>
      </div>
      <ul class="links">
        <li><a [routerLink]="['']">{{"main" | translate}}</a></li>
        <li><a [routerLink]="['cards']">{{"cards" | translate}}</a></li>
        <li><a [routerLink]="['deposits']">{{"deposits" | translate}}</a></li>
        <li><a [routerLink]="['business']">{{"business" | translate}}</a></li>
        <li><a [routerLink]="['services']">{{"services" | translate}}</a></li>
        <li><a [routerLink]="['about']">{{"about" | translate}}</a></li>
        <li><a [routerLink]="['contacts']">{{"contacts" | translate}}</a></li>
      </ul>
    </div>

    <section class="rate-container">
      <ul class="rate-ul">
        <li class="rate-li" *ngFor="let item of currencyRates">{{item.buy | number: '1.2-2'}} - {{item.sale | number: '1.2-2'}}</li>
      </ul>
    </section>

    <button class="auth">ABank24 WEB</button>
  </div>
</header>
